<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/css/styles.css">

</head>

<body>
    <div class="main-content">
        {{>header}}

        <p>Users + <a href="adduser">Add User Account</a></p>
        <table id="usertable" border="1" width="100%" class="table">             
            <!-- The Row Number 0 -->
            <tr>
                <th>Display Name</th>
                <th>Login Name</th>
                <th>Email</th>
                <th>Active</th>
                <th>Locked</th> 
                <th>Created</th>     
                <th>Updated</th>
                <th></th>
                <th></th>
            </tr>   
            {{#each user}}
            <tr>
                <td><a href="adduser/{{this._id}}">{{this.displayName}}</a></td>
                <td>{{this.loginName}}</td>
                <td>{{this.emailAdd}}</td>
                <td>{{this.active}}</td>
                <td>{{this.lockedOut}}</td>
                <td>{{this.createdAt}}</td>
                <td>{{this.updatedAt}}</td>
                <td>Edit</td>
                <td>Delete</td>
                
            </tr>   
            {{/each}}                 
            <!-- End Row Number 0 -->        
        </table>
       
    </div>

    {{>footer}}
   <!-- <script type="text/javascript" src="/js/clientjs.js"></script> -->

</body>

</html>